{% extends "base.html" %}
{% block title %}About Dino-Site!{% endblock %}

{% block content %}
<h1>About Dino-Site!</h1>
<h2>Why do we love dinosaurs so much?</h2>
<p>Dinosaurs capture our imagination and our hearts. Little kids who can't even read and write yet, can say impossibly long, weird names like "quetzalcoatlus" and "archaeopteryx". We dress up like dinosaurs, stomp around as we imagine they did, and fill our stories with their presence, even though they have been extinct for 65 million years.</p>
<p>So why not make a dynamite dino-site and learn more about these terrifying yet loveable creations?</p>
<p>It's great practice for us as we learn to make web applications with flask, and maybe we'll learn some new dino facts while we're at it.</p>


<img src="{{url_for('static', filename='images/dino-love.webp')}}" alt="we love dinos">
{% endblock %}